:host {
  display: flex;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 16rem; // Same as sidebar width
}
.main.collapsed {
  margin-left: 4rem; // collapsed sidebar width
}